:root{ 
    --naranja: #F90;
    --amarillo: rgb(255, 217, 0);    
    --negro: #000;
    --negro2: #27262b;
    --blanco: #FFF;
}
/* - Esto es declarar las variables y asignarles un valor
- Las variables guardan valores en
la memoria del navegador, esto permite 
reutilizarlas y ordenar mejor mi codigo*/

/* Resetar algunos valores predeterminados del navegador */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}                       

body{
    background-color: var(--negro2); 
    background-image: url('images/pattern.jpg');
    font-family: Arial, Helvetica, sans-serif;
    /*Imagen que cubra el 100% del fondo pero sin perder 
    proporción backrground-size: cover */
    /* Repetir en x y o no repetir - background- repeat: 
    repeat-y */
    /* Poner color de fondo para usuarios con mal 
    internet o si 
    no carga la imagen */
}

.cabecera, 
.contenedor{
    max-width: 1000px;
    margin: auto;
}

.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;

}


.cabecera h1{
    color: var(--naranja);
    font-size: 24px;

}

.contenedor{
    background-color: var(--blanco);
    border-radius: 8px 8px 0 0;
}

/* ----------------------------------------------------------------
                        Navegacion
-------------------------------------------------------------------- */

.nav{
    background-color: var(--naranja);
    border-radius: 8px 8px 0 0;
    
}

.nav-lista{
    
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;

}

.nav-lista_item{
    background-color: var(--naranja);
    flex-grow: 1;
    border-right: 1px solid var(--amarillo);
    text-align: center;
    
}

.nav-link{
    color: var(--blanco);
    font-weight: bold;
    text-decoration: none;
    display: block;
    
}
.nav-link:hover{
    text-decoration: underline;
}


.nav-form{
    background-color: var(--naranja)
}